/* font-family Lato */

@font-face{
	font-family: "Lato";
	src: url(../font/lato/Lato-Hairline.ttf) format("truetype"); 
	font-weight:100;
	font-style:normal;
}

@font-face{
	font-family: "Lato";
	src: url(../font/lato/Lato-Light.ttf) format("truetype"); 
	font-weight:300;
	font-style:normal;
}

@font-face{
	font-family: "Lato";
	src: url(../font/lato/Lato-Regular.ttf) format("truetype");
	font-weight:400;
	font-style:normal;
}

@font-face{
	font-family: "Lato";
	src: url(../font/lato/Lato-Bold.ttf) format("truetype"); 
	font-weight:700;
	font-style:normal;
}

@font-face{
	font-family: "Lato";
	src: url(../font/lato/Lato-Black.ttf) format("truetype"); 
	font-weight:900;
	font-style:normal;
}

@font-face{
	font-family: "Lato";
	src: url(../font/lato/Lato-HairlineItalic.ttf) format("truetype");
	font-weight:100;
	font-style:italic;
}

@font-face{
	font-family: "Lato";
	src: url(../font/lato/Lato-LightItalic.ttf) format("truetype"); 
	font-weight:300;
	font-style:italic;
}

@font-face{
	font-family: "Lato";
	src: url(../font/lato/Lato-Italic.ttf) format("truetype");
	font-weight:400;
	font-style:italic;
}

@font-face{
	font-family: "Lato";
	src: url(../font/lato/Lato-BoldItalic.ttf) format("truetype"); 
	font-weight:700;
	font-style:italic;
}

@font-face{
	font-family: "Lato";
	src: url(../font/lato/Lato-BlackItalic.ttf) format("truetype"); 
	font-weight:900;
	font-style:italic;
}

/* General */
*{
	box-sizing: border-box;
	padding:0;
}

body{
	background-color: hsl(33, 24%, 44%);

}

header{
	font-family: "Lato";
}

img{
	width:100%;
}
a{
	color:black;
}

a:link{
	text-decoration: none;
	color:black;
	font-weight: 900;
}

a:hover{
	color:white;
}

nav li{
	display:inline-block;
	margin-right:1em;
	margin-left: 1em;
	font-size: 1.4em;
	margin-top:0.4em;
	margin-bottom: 0.4em;
}
nav ul{

}
nav{
	display: block;
	text-align: center;
	background-color: hsl(33, 24%, 44%);
}

.maintitle {
	text-align: center;
	display: block;
}

.maintitle strong{
	text-align: center;
	font-size: 2em;
	font-weight: 700;
	font-style: italic; 
}

.maintitle strong span{
	font-weight: 300;
}

.container{
	background-color: hsl(34, 44%, 65%);
	margin-right: 5%;
	margin-left: 5%;
	padding:0.5em;
	margin-top: 2%;
	margin-bottom: 2%;
	font-family: lato;
}

.imghome{
	margin:2em;
	display: inline-block;
	height: 50%;

}
.basicinfo{
	margin-right: 2em;
	margin-left: 2em;
	display: inline-block;
	font-family: lato;
	font-size: 1em;
	word-spacing: 0.2em;
	line-height: 1.5;
	font-weight: 400;
	height: 50%;
}

.prova{
	display: block;
}

#mappa {
	display: inline-block;
}

.infoposizione{
	display: inline-block;
	margin-left: 1em;
	position:absolute;
	font-size:1.6em;
	}

p.infoposizione{
	margin-top:3em;
	font-style: italic;
	font-size: 1.3em;
}


.bottom{
	margin:1em;
	text-align: center;
	border-color:hsl(33, 24%, 44%);
	border-style: solid;
	font-size: 1.2em;
}

.dovesiamo {
	font-family: Lato;
}


/*Appartamenti */
.fotostanza1 {
	max-width: 40%;
	max-height: 40%;
	display: inline-block;
	margin:1em;
	float:left;
	clear: both;
}
.fotostanza2 {
	max-width: 40%;
	max-height: 40%;
	float:right;
	margin:1em;
	clear: both;
}
.fotostanza3 {
	max-width: 40%;
	max-height: 40%;
	display: inline-block;
	margin:1em;
	float:left;
	clear: both;
}

.descrizionestanza1{
	display: inline-block;
	font-family: Lato;
	font-size: 1.4em;
	float:left;
}

.descrizionestanza1 ul{
	padding-left: 1.2em;
}

.descrizionestanza2{
	display: inline-block;
	font-family: Lato;
	font-size: 1.4em;
	float:right;
}

.descrizionestanza2 ul{
	padding-left: 1.2em;
}

.descrizionestanza2 h2{
	margin-right: 1.2em;
}

.descrizionestanza3{
	display: inline-block;
	font-family: Lato;
	font-size: 1.4em;
	float:left;
}

.descrizionestanza3 ul{
	padding-left: 1.2em;
}

.contenitorestanza{
	margin: 1.3em;
	border-bottom-color: black;
	border-style: solid;
	border-left: hidden;
	border-bottom-width: 0.1em;
	border-top: hidden;
	border-right: hidden;
	display: block;
	overflow: hidden;
}

/* gallery e slide */

.slidecontainer{
	max-width: 1000px;
	margin:auto;
}

.slide{
	display:none;
	transition-property: opacity;
	transition-duration:2s;
	transition-timing-function: linear;
}

.slide img{
	height:500px;
}

.fade{
	-webkit-animation-name: fade;
	-webkit-animation-duration: 5s;
	animation-name:fade;
	animation-duration: 5s;
}

@-webkit-keyframes fade{
	0%,100%{opacity: .1	}
	50% {opacity: 1}
}

@keyframes fade{
	0%,100%{opacity: .1	}
	50% {opacity: 1}
}
